<div class="mx-2">
    <div class="row px-1">
        <div class="btn-toolbar btn btn-secondary justify-content-between rounded-5" @onclick="@Toggle">
            <span class="fs-4">@Title</span>
            @if (!Collapsed)
            {
                <span class="oi oi-chevron-bottom m-2" />
            }
            else
            {
                <span class="oi oi-chevron-top m-2" />
            }
        </div>
    </div>

    @if (Collapsed)
    {
        @ChildContent
    }
</div>



@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool Collapsed { get; set; }
    [Parameter]
    public string Title { get; set; }

    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}