@inject ICatApiService catApiService
@inject IModalService modelService

@if (image == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mb-3">
        <button @onclick="@(() => modelService.Show<CatOfDayModal>("Факт дня", options))" class="btn btn-outline-dark w-100"
            style="border-radius: 35px;">
            Факт дня
        </button>
    </div>
}

@code {
    private CatApiImageDto? image;
    private string? Show { get; set; } = null;
    ModalOptions options = new() {
        Size = ModalSize.Large,
        Position = ModalPosition.Middle
    };

    protected override async Task OnInitializedAsync()
    {
        image = (await catApiService.GetImage()).Response;
    }
}