@inject ICatApiService catApiService

@if (image != null)
{
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-8 col-lg-6">
            <MeowFact CssClass="h6"/>
            <img src="@image.Url" alt="Cat" class="img-cover">
        </div>
    </div>
}


@code {
    private CatApiImageDto? image;
    private string? Show { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            image = await catApiService.GetImage();
        }
        catch
        {
            
        }
    }
}