@inject ICatApiService catApiService
@inject IModalService modelService

@if (image == null)
{
    @if (error != null)
    {
        <ExceptionAlert ex="error"></ExceptionAlert>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <div class="mb-3">
        <button @onclick="@(() => modelService.Show<CatOfDayModal>("Факт дня", options))" class="btn btn-outline-dark w-100"
            style="border-radius: 35px;">
            Факт дня
        </button>
    </div>
}

@code {
    private CatApiImageDto? image;
    private ServiceResponseException? error;

    private string? Show { get; set; } = null;
    ModalOptions options = new() {
        Size = ModalSize.Large,
        Position = ModalPosition.Middle
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            image = await catApiService.GetImage();
        }
        catch (ServiceResponseException e)
        {
            error = e;
        }
    }
}