@inject ICatApiService catApiService

@if (image != null)
{
    <div class="row text-center">
        <MeowFact CssClass="h5"/>
        <hr />
        <img src="@image.Url" alt="Cat" class="img-fit">
    </div>
}


@code {
    private CatApiImageDto? image;
    private string? Show { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            image = await catApiService.GetImage();
        }
        catch
        {
            
        }
    }
}