@if(ex != null)
{
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">@ex.StatusCode.ToString()</h4>
  <p>@ex.Message</p>
</div>
}

@code {
    [Parameter]
    public ServiceResponseException ex { get; set; }
}
