@inject IMeowFactService meowFactService

@if (fact == null)
{
    @if (error != null)
    {
        <ExceptionAlert ex="error"></ExceptionAlert>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <div class="@CssClass">
        @fact?.Data.FirstOrDefault()
    </div>
}

@code {
    [Parameter]
    public string CssClass { get; set; } = "";

    private MeowFactDto? fact;
    private ServiceResponseException? error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            fact = await meowFactService.GetFact();
        }
        catch (ServiceResponseException e)
        {
            error = e;
        }
    }
}