@inject IMeowFactService meowFactService

@if (fact == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="@CssClass">
        @fact?.Data.FirstOrDefault()
    </div>
}

@code {
    [Parameter]
    public string CssClass { get; set; } = "";

    private MeowFactDto? fact;

    protected override async Task OnInitializedAsync()
    {
        fact = (await meowFactService.GetFact()).Response;
    }
}