@inject IWeatherService weatherService


@if (city != null)
{
    <NavLink class="link-light" href="cities">
        @city.Local_names?["ru"]
    </NavLink>
} 
else if(error != null)
{
    <NavLink class="btn btn-outline-light" href="cities">
        <span class="oi oi-home" aria-hidden="true"></span> Выбрать город
    </NavLink>
}

@code {
    private GeocodingDto? city;
    private ServiceResponseException? error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            city = await weatherService.GetUserCity();
        }
        catch (ServiceResponseException e)
        {
            error = e;
        }
    }
}