.scrolling-wrapper-flexbox {
    display: flex;
    overflow-x: auto;
}
    .scrolling-wrapper-flexbox::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
    }

    .scrolling-wrapper-flexbox::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #3A0647;
    }

    .scrolling-wrapper-flexbox::-webkit-scrollbar-track {
        border: solid 1px black;
        border-radius: 10px;
        background-color: #f9f9fd;
    }
    .scrolling-wrapper-flexbox card-flex {
        flex: 0 0 auto;
    }