@inject IWeatherService weatherService


@if (city == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        @city?.Name
        <br />
        @city?.Country
        <br />
        @city?.Local_names["ru"]

        <hr />
        @weatherObject?.Main.Temp 
        <br />
        @weatherObject?.Main.FeelsLike
        <br />
        @weatherObject?.Weather.First().Description

    </div>
}

@code {
    private GeocodingDto? city;
    private CurrentWeatherDto? weatherObject;

    protected override async Task OnInitializedAsync()
    {
        city = await weatherService.GetCityLocation("Moscow");
        weatherObject = await weatherService.GetWeather(55.7504461, 37.6174943);
    }
}