@inject IStringLocalizer<CultureResource> Loc
@inject ICatApiService catApiService

@if (image == null)
{
    @if (error != null)
    {
        <ExceptionAlert ex="error"></ExceptionAlert>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <div class="mb-3">
        <button @onclick="@(() => ModalService.Show<CatOfDayModal>(@Loc["Fact of the day"], options))" class="btn btn-primary w-100 rounded-5">
            <span>@Loc["Fact of the day"]</span><i class="fa-solid fa-paw mx-1"></i>
        </button>
    </div>
}

@code {
    [CascadingParameter] public IModalService ModalService { get; set; } = default!;
    private CatApiImageDto? image;
    private ServiceResponseException? error;

    private string? Show { get; set; } = null;
    ModalOptions options = new()
        {
            Size = ModalSize.Large,
            Position = ModalPosition.Middle,
            Class = "modal-class bg-gradient-dark"
        };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            image = await catApiService.GetImage();
        }
        catch (ServiceResponseException e)
        {
            error = e;
        }
    }
}