@inject ICatApiService catApiService

@if (image != null)
{
    <div class="row text-center">
        <MeowFact CssClass="fs-5"/>
        <hr />
        <img src="@image.Url" alt="Cat" class="img-fit" style="overflow-y: scroll; max-height:35vh;">
    </div>
}


@code {
    private CatApiImageDto? image;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            image = await catApiService.GetImage();
        }
        catch
        {
            
        }
    }
}