@page "/"
@inject IStringLocalizer<CultureResource> Loc

<PageTitle>@Loc["Weather"]</PageTitle>

<div class="container p-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6">
            <CatOfDay />
            <WeatherWidget />
            <WeatherForecastSmallWidget />
            <NavLink class="btn btn-primary rounded-5 mt-3 w-100" href="forecast" Match="NavLinkMatch.All">
                @Loc["Detailed forecast"]
            </NavLink>
        </div>
    </div>
</div>

<br />

