@page "/"
<PageTitle>Weather</PageTitle>


<div class="container p-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6">
            <CatOfDay />
            <WeatherWidget />
            <WeatherForecastSmall />
            <NavLink class="link-light text-center" href="forecast" Match="NavLinkMatch.All">
                <small>Детальный прогноз</small>
            </NavLink>
        </div>
    </div>
</div>

<br />

